footer {
	hr {
		height: 1px;
		background-color: rgb(148, 134, 174);
		border: none;
	}
}

.footer_container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;

	p {
		color: rgb(19, 19, 60);
	}
}
