.input {
	z-index: -1;

	h3 {
		color: rgb(12, 12, 44);
	}
	input {
		margin: 5px 0 10px 0;
		background: url("../images/Vector.png") no-repeat 7px 7px;
		background-size: 15px;
		background-color: rgb(227, 227, 241);
		padding-left: 2rem;
		height: 30px;
		border: 0.5px solid rgb(188, 185, 185);
		border-radius: 5px;
	}
}
